{% extends 'features/base.html' %}
{% load crispy_forms_tags %}
{% block title %} Register {% endblock title %}
{% block content %}
    <div class="container ">
        <div class="row">
            <div class="col-lg-6 ">
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <button class="btn btn-primary">Sign Up</button>
                </form>
                Have an Acoount? <a href="#login" class="btn btn-outline-primary">Sign In</a>
            </div>
        </div>

    </div>

{% endblock content %}